In [6]:
import pandas as pd
from database import engine_maker
import os
from dotenv import load_dotenv
load_dotenv()

True

We Will use the data as followes :
    
    1- Sales : dirty_sales.csv
    2- Customers : Customers.csv
    3- Products : Products.csv

The sales was altered to have some unclear and dirty values that requires some cleaning to further simulate a true cleaning stage.

We'll first deposit our source data in our databases, and we'll in the future add more simulation to it by adding some data in a customized api, and some source database.

In [2]:
prod = pd.read_csv('../data/Products.csv')
cust = pd.read_csv('../data/Customers.csv')
sales = pd.read_csv('../data/dirty_sales.csv')

In [3]:
prod.head()

  ProductNo                  ProductName  Price          Category
0     10002   Inflatable Political Globe     71    Électroménager
1     10080     Groovy Cactus Inflatable     22  Jouets éducatifs
2     10120                 Doggy Rubber     30            Snacks
3    10123C         Hearts Wrapping Tape      3         Tablettes
4    10124A  Spots On Red Bookcover Tape      5            Bijoux

In [4]:
cust.head()

      id first_name   last_name                       email       gender
0  17230      Addie       Synan             asynan0@fda.gov       Female
1  14251      Lesly      Everix            leverix1@icq.com     Bigender
2  13450     Blayne  McClelland  bmcclelland2@mediafire.com  Genderqueer
3  18047     Rollin        Hugh          rhugh3@dedecms.com         Male
4  16262    Tamarra        Gent           tgent4@toplist.cz       Female

In [5]:
sales.head()

,TransactionNo,Date,ProductNo,Price,Quantity,CustomerNo,date_shippped,status,Country_Noise
0,581482,12/9/2019,22485,21.47,12,17490.0,NaN,Cancelled,united kingdom
1,581475,12/9/2019,22596,10.65,36,13069.0,NaN,Pending,%United Kingdom
2,581475,12/9/2019,23235,11.53,12,13069.0,2019-12-26,Completed,United Kinnngdom
3,581475,12/9/2019,23272,10.65,12,13069.0,NaN,Pending,UUUUnited Kingdom
4,581475,12/9/2019,23239,11.94,6,13069.0,NaN,Cancelled,United K!ingdom

In [9]:
engine = engine_maker(os.getenv('BRONZE_USER'),os.getenv('BRONZE_PASSWORD'),os.getenv('BRONZE_PORT'),os.getenv('BRONZE_DB'))

#### i didn't use index = false so i can have a somewhat measure to find the last inserted values #####
#### surrogate keys #####
prod.to_sql('products',engine,index=False)
sales.to_sql('sales',engine,index=False)
cust.to_sql('customers',engine,index=False)

1000