In [ ]:
import pandas as pd
import numpy as np
from utilities import add_noise

In [53]:
data = pd.read_csv('../data/Sales.csv')
data.head()
## let's use this simple data to make a data warehouse ##

## from this data I'll be making muliple data dimensions that I'll use as data sources ##

##I'll use the customer.NO to get my self cutomers ## [Mokaroo for customers generation]
##And for the products I'll further add data []
##And I'll modify the transaction to make more fact like

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom

In [54]:
### STEP 1 ## Generating Customers
data['CustomerNo'].describe()
## min ID == 12004
## max ID == 18287

## CustomerNo Type == float() --> must be altered to int (I'll do it in the silver layer)

### Customer Model ###

# fname, lname, email, phone, gender #

## I'll deposit the data generated in the data folder ##


## !!! There'll be less customers and unfounded one's so even if we can use the No on the sales table no problem

count    536295.000000
mean      15227.893178
std        1716.582932
min       12004.000000
25%       13807.000000
50%       15152.000000
75%       16729.000000
max       18287.000000
Name: CustomerNo, dtype: float64

In [55]:
#### STEP 2 ### Product Table (To CSV) 
products = data.groupby(['ProductNo', 'ProductName']).size().reset_index(name='Price')
products.head()

  ProductNo                  ProductName  Price
0     10002   Inflatable Political Globe     71
1     10080     Groovy Cactus Inflatable     22
2     10120                 Doggy Rubber     30
3    10123C         Hearts Wrapping Tape      3
4    10124A  Spots On Red Bookcover Tape      5

In [ ]:
### Though it might not be clear Is still usefull to my project ###
## This are just random categories they'll not be correcte just to add a touch in the gold layer
categories = [
    'Smartphones',
    'Tablettes',
    'Laptops',
    'Accessoires',
    'Montres connectées',
    'Vêtements',
    'Chaussures',
    'Sacs',
    'Bijoux',
    'Meubles',
    'Décoration',
    'Jardinage',
    'Électroménager',
    'Luminaires',
    'Frais',
    'Conserves',
    'Snacks',
    'Boissons',
    'Produits bio',
    'Soins de la peau',
    'Maquillage',
    'Parfumerie',
    'Cheveux',
    'Soins corporels',
    'Vêtements de sport',
    'Équipements',
    'Accessoires de fitness',
    'Nutrition sportive',
    'Balles et raquettes',
    'Jouets éducatifs',
    'Jeux de société',
    'Jeux vidéo',
    'Dolls and Action Figures'
]

products['Category'] = np.random.choice(categories, size=len(products)) 
products.to_csv('../data/Products.csv',index=False)

In [60]:
### STEP 3 Enhancing our Sales csv ###
data = data.drop('ProductName',axis=1)

In [61]:
## adding a shipping date ##
data['date_shippped'] = pd.to_datetime(data['Date'], errors='coerce')
random_days = np.random.randint(1, 21, size=len(data))

In [62]:
data['date_shippped'] = data['date_shippped'] + pd.to_timedelta(random_days, unit='D')

In [63]:
statuses = ['Pending', 'Completed', 'Cancelled', 'Processing']
data['status'] = np.random.choice(statuses, size=len(data))

In [64]:
data.loc[data['status'].isin(['Pending','Processing','Cancelled']),'date_shippped'] = None

In [66]:
data.to_csv('../data/cleaned_sales.csv',index=False)

In [ ]:
data['Country'] = data['Country'].apply(add_noise)

In [70]:
data = data.drop('Country',axis=1)

In [72]:
data.to_csv('../data/dirty_sales.csv',index=False)