In [1]:
import pandas as pd
from database import engine_maker
import os
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
engine = engine_maker(os.getenv('BRONZE_USER'),os.getenv('BRONZE_PASSWORD'),os.getenv('BRONZE_PORT'),os.getenv('BRONZE_DB'))

In [46]:
sales = pd.read_sql('sales',engine)
customers = pd.read_sql('customers',engine)
products = pd.read_sql('products',engine)

In [4]:
#####      Cleaning        ###### 
##### I'll first deal with CustomerNo ==> integer instead of float
##### Then I'll deal with Null Values 
##### And I'll clean the country coulumn

In [47]:
sales.head()

,index,TransactionNo,Date,ProductNo,Price,Quantity,CustomerNo,date_shippped,status,Country_Noise
0,0,581482,12/9/2019,22485,21.47,12,17490.0,None,Cancelled,united kingdom
1,1,581475,12/9/2019,22596,10.65,36,13069.0,None,Pending,%United Kingdom
2,2,581475,12/9/2019,23235,11.53,12,13069.0,2019-12-26,Completed,United Kinnngdom
3,3,581475,12/9/2019,23272,10.65,12,13069.0,None,Pending,UUUUnited Kingdom
4,4,581475,12/9/2019,23239,11.94,6,13069.0,None,Cancelled,United K!ingdom

In [48]:
sales.isnull().any()

index            False
TransactionNo    False
Date             False
ProductNo        False
Price            False
Quantity         False
CustomerNo        True
date_shippped     True
status           False
Country_Noise    False
dtype: bool

In [49]:
sales['CustomerNo'] = pd.to_numeric(sales['CustomerNo'], errors='coerce').astype('Int64')

In [50]:
sales.dtypes

index              int64
TransactionNo     object
Date              object
ProductNo         object
Price            float64
Quantity           int64
CustomerNo         Int64
date_shippped     object
status            object
Country_Noise     object
dtype: object

In [51]:
sales['CustomerNo'].head()

0    17490
1    13069
2    13069
3    13069
4    13069
Name: CustomerNo, dtype: Int64

In [52]:
### 0 ==> unknown ####
sales['CustomerNo'] = sales['CustomerNo'].fillna(0)

In [53]:
sales['CustomerNo'].sort_values(ascending=False).unique()

<IntegerArray>
[18287, 18283, 18282, 18281, 18280, 18278, 18277, 18276, 18274, 18273,
 ...
 12042, 12031, 12026, 12025, 12024, 12013, 12008, 12006, 12004,     0]
Length: 4739, dtype: Int64

In [54]:
sales['date_shippped'] = sales['date_shippped'].fillna(1999-12-31)

In [55]:
sales['date_shipped'] = pd.to_datetime(sales['date_shippped'],errors='coerce')

In [56]:
sales['date_shipped'].min()

Timestamp('1970-01-01 00:00:00.000001956')

In [57]:
#### first let's get rid of special caracters
#sales['Country_Noise'].str.replace(r'\s+',' ').str.lower().str.strip().str.replace(r'[*,%@-/!$Â£]+','')

def clean_duplicates(chars: str):
    index = 0
    string = ''

    for char in chars:

        if index + 1 == len(chars):
            string += char
            return string

        if chars[index + 1] != char:
            string += char

        index += 1



sales['cleaned_country'] = (sales['Country_Noise']
    .str.lower()
    .str.replace(r'[^a-z\s]', '', regex=True)
    .str.replace(r'\s+',' ',regex=True)
    .apply(clean_duplicates)
    .str.strip()
 )

In [60]:
sales['cleaned_country'].unique()

array(['united kingdom', 'united kingdo m', 'norway', 'n orway',
       'nor way', 'no rway', 'norw ay', 'united k ingdom',
       'united ki ngdom', 'unite d kingdom', 'unit ed kingdom',
       'united kin gdom', 'united king dom', 'united kingd om',
       'un ited kingdom', 'uni ted kingdom', 'u nited kingdom', 'belgium',
       'be lgium', 'ger many', 'germ any', 'germany', 'german y',
       'g ermany', 'ge rmany', 'france', 'f rance', 'fr ance', 'austria',
       'austri a', 'germa ny', 'netherlands', 'eire', 'ei re', 'eir e',
       'e ire', 'usa', 'chanel islands', 'franc e', 'fran ce',
       'neth erlands', 'nether lands', 'netherland s', 'nethe rlands',
       'netherla nds', 'ne therlands', 'netherlan ds', 'iceland',
       'portugal', 'port ugal', 'portug al', 'p ortugal', 'spain',
       'spai n', 'sp ain', 's pain', 'spa in', 'finland', 'portu gal',
       'por tugal', 'italy', 'it aly', 'grece', 'gre ce', 'g rece',
       'bel gium', 'belgi um', 'belg ium', 'japan', 'ja pan', 'us a',
       'chanel islan ds', 'sweden', 'denmark', 'de nmark', 'fra nce',
       'b elgium', 'fi nland', 'cyprus', 'malta', 'net herlands',
       'f inland', 'finla nd', 'finl and', 'norwa y', 'den mark',
       'd enmark', 'denm ark', 'ital y', 'switzerland', 'switzerlan d',
       'switzer land', 'swit zerland', 's witzerland', 'i celand',
       'ic eland', 'icela nd', 'ice land', 'icel and', 'icelan d',
       'a ustralia', 'australia', 'aust ralia', 'portuga l', 'po rtugal',
       'switzerl and', 'switz erland', 'swi tzerland', 'netherl ands',
       'n etherlands', 'i taly', 'swed en', 'ita ly', 'belgiu m',
       'aust ria', 'a ustria', 'switzerla nd', 'sw itzerland', 'c yprus',
       'cypru s', 'cypr us', 'austr ia', 'au stria', 'aus tria',
       'czech republic', 'sw eden', 'cha nel islands', 'j apan',
       'denmar k', 'denma rk', 'u sa', 's weden', 'fin land', 'swe den',
       'c hanel islands', 'chanel isl ands', 'ch anel islands',
       'switze rland', 'poland', 'pol and', 'pola nd', 'swede n',
       'h ong kong', 'hong kong', 'hong ko ng', 'jap an', 'cyp rus',
       'cy prus', 'hon g kong', 'singapore', 'singap ore', 'rsa', 'r sa',
       'rs a', 'finlan d', 'austral ia', 'c zech republic',
       'czech republ ic', 'au stralia', 'austr alia', 'austra lia',
       'chanel i slands', 'chane l islands', 'chan nel islands',
       'chanel island s', 'chanel isla nds', 'aus tralia', 'israe l',
       'israel', 'isr ael', 'hong kon g', 'i srael', 'po land',
       'u nspecified', 'unspecif ied', 'unspecified', 'unspec ified',
       'unspecifie d', 'unspeci fied', 'unspecifi ed', 'un specified',
       'united arab emirates', 'united arab emi rates',
       'united arab emira tes', 'malt a', 'canada', 'chan el islands',
       'mal ta', 'unsp ecified', 'ma lta', 'is rael', 'isra el',
       'australi a', 'm alta', 'p oland', 'unspe cified', 'uns pecified',
       'japa n', 'european comunity', 'eur opean comunity',
       'e uropean comunity', 'european comunit y', 'sing apore',
       'si ngapore', 'singa pore', 'singapo re', 's ingapore', 'ca nada',
       'can ada', 'c anada', 'canad a', 'chanel is lands',
       'european c omunity', 'european com unity', 'european comu nity',
       'polan d', 'bahrain', 'bahrai n', 'bahr ain', 'brazil', 'braz il',
       'saudi arabia', 'czech repu blic', 'czec h republic',
       'saudi arabi a', 'saudi ara bia', 'united a rab emirates',
       'united arab emirate s', 'unit ed arab emirates', 'lebanon',
       'lebano n', 'leb anon', 'le banon', 'leba non', 'gre ece',
       'ho ng kong', 'hong k ong', 'grec e', 'lithuan ia', 'lithuania',
       'lithu ania', 'lith uania', 'lit huania'], dtype=object)

In [38]:
a = "uuuunited kingdom"
p = "sever"

seen = set()

d , e = a.split(' ')

chars = [char for char in d]

#### for contries whom have double linked chars i can create a stocked procedure to handle them

def 


def clean_duplicates(chars: str):
    index = 0
    string = ''
    
    for char in chars:

        if index + 1 == len(chars):
            string += char
            return string

        if chars[index + 1] != char:
            string += char

        index += 1
        
print(clean_duplicates(a))

united kingdom